.descr {
  text-align: center;
  padding-top: 25px;
  color: #000;
}

.descr__title {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 27px;
}

.descr__text {
  display: block;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  margin-bottom: 5px;
}

//-----------------TABLET--------------------

@media @tablet {
  .descr {
    max-width: 540px;
    margin: 0 auto;
    padding-top: 33px;
    padding-bottom: 45px;
  }

  .descr__title {
    font-size: 21px;
  }
}

//-----------------DESKTOP-------------------

@media @desktop {

}
