.form {
  margin-top: 12px;
  padding: 0;
  display: flex;
  flex-direction: column;

  fieldset {
    border: none;
    padding: 0;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin: 0;
    box-sizing: border-box;
    width: 320px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 320px;
      height: 1px;
      background-color: #e5e5e5;
    }
  }

  input {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
    border: none;
    background-color: #f2f2f2;
    padding: 17px;
    box-sizing: border-box;
  }

  input::placeholder {
    text-transform: none;
    opacity: 1;
  }

  input:hover {
    background-color: @grey-hover;
  }

  input:focus {
    background-color: #fff;
    border: 4px solid @grey-hover;
    padding: 13px;
  }
}

.form__title {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.form__label {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  margin-right: 10px;
}

.form__option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  width: 280px;
  box-sizing: border-box;
  overflow: hidden;

  input {
    flex-grow: 1;
  }
}

.form__contacts {

  .form__label {
    padding-left: 20px;
  }

  input {
    margin-top: 5px;
    margin-bottom: 12px;
    width: 280px;
    box-sizing: border-box;
  }

  input:last-child {
    margin-bottom: 20px;
  }
}

.form__tel,
.form__email {
  position: relative;
  box-sizing: border-box;
}

.form__tel::after,
.form__email::after {
  content: "";
  display: block;
  width: 56px;
  height: 58px;
  position: absolute;
  bottom: 21px;
  right: 0;
}

.form__tel::after {
  background: #e6e6e6 url(../img/icon-phone.svg) no-repeat center;
}

.form__email::after {
  background: #e6e6e6 url(../img/icon-mail.svg) no-repeat center;
}

.form__impression {
  label {
    text-transform: none;
    font-weight: bold;
    padding-left: 80px;
    margin-bottom: 35px;
    position: relative;
    cursor: pointer;
  }

  .form__title {
    margin-bottom: 40px;
  }

  .form__option {
    overflow: visible;
    margin-bottom: 13px;
  }
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 55px;
  height: 55px;
  background-color: #f2f2f2;
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"]:checked + label::before {
  background-color: #333333;
  border: 16px solid #f2f2f2;
  box-sizing: border-box;
}

input[type="radio"]:hover + label:hover::before,
input[type="checkbox"]:hover + label:hover::before {
  background-color: @grey-hover;
}

input[type="radio"]:active + label:active::before,
input[type="checkbox"]:active + label:active::before {
  background-color: @grey-active;
}

input[type="radio"]:hover:checked + label:hover::before {
  background-color: #333333;
  border-color: @grey-hover;
}

input[type="radio"]:active:checked + label:active::before {
  background-color: rgba(51,51,51,0.3);
  border-color: @grey-active;
}

.form__visit {
  label {
    text-transform: none;
    font-weight: bold;
    padding-left: 80px;
    margin-bottom: 35px;
    position: relative;
    cursor: pointer;
  }

  .form__option {
    overflow: visible;
    margin-bottom: 26px;
  }

  .form__option:last-child {
    margin-bottom: 5px;
  }

  .form__title {
    margin-bottom: 35px;
  }
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 55px;
  height: 55px;
  background-color: #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 18px;
  width: 20px;
  height: 12px;
  box-sizing: border-box;
  border-bottom: 3px solid #333333;
  border-left: 3px solid #333333;
  transform: rotate(-45deg);
}

input[type="checkbox"]:active:checked + label:active::before {
  border-color: rgba(51,51,51,0.3);
}

.form__emotion {
  textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: #f2f2f2;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    padding: 20px;
    min-height: 160px;
  }

  textarea:hover {
    background-color: @grey-hover;
  }

  textarea:focus {
    background-color: #fff;
    border: 4px solid @grey-hover;
    padding: 16px;
  }

  .form__title {
    margin-bottom: 15px;
  }
}

.form__submit {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #fff;
  background-color: @blue;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 42px 20px 38px 20px;
  width: 280px;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: @blue-hover;
  }

  &:active {
    color: rgba(255,255,255,0.3);
    background-color: @blue-active;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.form__text {
  display: none;
}

//-----------------TABLET--------------------

@media @tablet {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 20px;
      left: 50%;
      width: 1px;
      height: 300px;
      background-color: #dbdbdb;
    }

    fieldset::before {
      display: none;
    }

    fieldset:nth-child(2),
    fieldset:nth-child(4),
    fieldset:nth-child(5) {
      width: 100%;
    }

    fieldset:nth-child(1),
    fieldset:nth-child(3) {
      width: 50%;
    }

    fieldset:nth-child(1) {
      padding-left: 40px;
    }

    fieldset:nth-child(2) {
      padding-top: 35px;
    }
  }

  .form__name {
    order: 2;

    .form__title {
      text-align: left;
    }
  }

  .form__contacts {
    order: 3;

    .form__title {
      margin-bottom: 25px;
      position: relative;
    }
  }

  .form__impression {
    order: 1;

    .form__title {
      margin-bottom: 80px;
      text-align: left;
    }

    .form__option {
      margin-bottom: 20px;
    }
  }

  .form__visit {
    order: 4;

    .form__title {
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 60px;
      position: relative;
    }

    .form__option {
      max-width: 240px;
    }

    .form__option:first-child {
      margin-bottom: 35px;
    }

    .form__option:nth-child(3) {
      margin-bottom: 35px;
    }
  }

  .form__wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 170px;
    padding-left: 90px;
    box-sizing: border-box;
  }

  .form__emotion {
    order: 5;

    .form__title {
      margin-bottom: 57px;
      position: relative;
    }
  }

  .form__bottom {
    order: 6;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 20px;
    margin-bottom: 22px;
  }

  .form__title {
    margin-bottom: 55px;
  }

  .form__tel input,
  .form__email input {
    width: 100%;
  }

  .form__email {
    margin-bottom: 8px;
  }

  .form__submit {
    margin-top: 50px;
    width: 325px;
  }

  .form__text {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 26px;
  }

  .form__contacts .form__title::before,
  .form__visit .form__title::before,
  .form__emotion .form__title::before,
  .form__contacts .form__title::after,
  .form__visit .form__title::after,
  .form__emotion .form__title::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 120px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .form__contacts .form__title::after,
  .form__visit .form__title::after,
  .form__emotion .form__title::after {
    left: 100%;
    transform: translateX(-120px);
  }

  .form__visit .form__title::before {
    left: -175px;
  }

  .form__visit .form__title::after {
    left: 160%;
  }
}

//-----------------DESKTOP-------------------

@media @desktop {
  .form {
    padding-left: 80px;
    padding-right: 80px;

    fieldset {
      padding: 0;
    }

    fieldset:nth-child(1) {
      padding-left: 80px;
    }

    fieldset:nth-child(2) {
      padding-top: 20px;
    }
  }

  .form__contacts .form__title::before,
  .form__visit .form__title::before,
  .form__emotion .form__title::before,
  .form__contacts .form__title::after,
  .form__visit .form__title::after,
  .form__emotion .form__title::after {
    width: 280px;
  }

  .form__contacts .form__title::after,
  .form__visit .form__title::after,
  .form__emotion .form__title::after {
    left: 100%;
    transform: translateX(-280px);
  }

  .form__visit .form__title::before {
    left: -330px;
  }

  .form__visit .form__title::after {
    left: 210%;
  }

  .form__title {
    font-size: 21px;
    line-height: 26px;
  }

  .form__impression {
    label {
      font-size: 18px;
      line-height: 26px;
    }

    .form__option {
      width: 400px;
    }
  }

  .form__visit {
    label {
      font-size: 18px;
      line-height: 26px;
    }

    .form__option {
      width: 250px;
    }

    .form__option:first-child {
      order: 1;
    }

    .form__option:nth-child(2) {
      order: 3;
    }

    .form__option:nth-child(3) {
      order: 2;
    }

    .form__option:nth-child(4) {
      order: 4;
    }
  }

  .form__name {
    .form__option {
      width: 400px;
    }
  }

  .form__tel input,
  .form__email input {
    width: 300px;
  }

  .form__tel {
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .form__email {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .form__tel span {
    display: none;
  }

  .form__contacts {

    .form__label {
      padding-left: 0;
    }

    .form__title {
      margin-bottom: 65px;
    }
  }

  .form__block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }

  .form__wrap {
    padding-left: 0;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 8px;
  }

  .form__submit {
    margin-top: 55px;
    margin-bottom: 40px;
    margin-left: 0;
    width: 50%;
  }

  .form__tel::after {
    right: 15px;
  }

  .form__email::after {
    right: 5px;
  }
}
